body {
    background: $background;
    color: $font-dark;
    font-family: $body-font;
    font-weight: 400;
    font-size: 100%;
    min-height: 100vh;
    width: 100%;
}

#{$headings} {
    font-family: $body-font;
    font-weight: 100;
}

/* Links */

a {
    color: $link;
}

a:hover,
a:active {
    color: $link-hover;
}
