// Mixins for mefia queries

// Medium screens (601px)
@mixin medium {
    @media screen and (min-width: #{$tablet-width}) {
        @content;
    }
}

// Desktop (1025px)
@mixin large {
    @media screen and (min-width: #{$desktop-small}) {
        @content;
    }
}

// Large screens (>1600px)
@mixin x-large {
    @media screen and (min-width: #{$desktop-large}) {
        @content;
    }
}

//**************************************************
//* Implement media quries in SASS                 *
//*  @include large {                              *
//*    body {                                      *
//*      font-size: 1.2rem;                        *
//*    }                                           *
//*  }                                             *
//**************************************************

// Misc Mixins

// Center in div
@mixin center-div {
    margin-left: auto;
    margin-right: auto;
}

// Border styles with variable styles
@mixin border($thickness: 1px, $color: $border) {
    border-width: $thickness;
    border-style: solid;
    border-color: $color;
}

// Single border edge - remember to add which edge
@mixin border-single($placement, $thickness: 1px, $color: $border) {
    border-#{$placement}: $thickness solid $color;
}

// Drop shaddow with possibillity to change effect
@mixin shaddow($hl: 3px, $vl: 3px, $blur: 8px, $spread: 0px) {
    box-shadow: $hl $vl $blur $spread rgba(0, 0, 0, 0.3);
}

// Transition with possibillity to change property
@mixin smooth($property: all) {
    transition: $property 0.3s ease-in;
}

// Mixin for headings, no arguments = all headings, 
//else use form lowest to higest size (1-6)

@mixin headings($from: 1, $to: 6) {
    @for $i from $from through $to {
        h#{$i} {
            @content;
        }
    }
}
