// Mixins for mefia queries

// Medium screens (601px)
@mixin medium {
    @media screen and (min-width: #{$tablet-width}) {
        @content;
    }
}

// Desktop (1025px)
@mixin large {
    @media screen and (min-width: #{$desktop-small}) {
        @content;
    }
}

// Large screens (>1600px)
@mixin x-large {
    @media screen and (min-width: #{$desktop-large}) {
        @content;
    }
}

//**************************************************
//* Implement media quries in SASS                 *
//*  @include large {                              *
//*    body {                                      *
//*      font-size: 1.2rem;                        *
//*    }                                           *
//*  }                                             *
//**************************************************

// Misc Mixins

// Center in div
@mixin center-div {
    margin-left: auto;
    margin-right: auto;
}

// Border styles with variable styles
@mixin border($thickness: 1px, $color: $border) {
    border-width: $thickness;
    border-style: solid;
    border-color: $color;
}

// Single border edge - remember to add which edge
@mixin border-single($placement, $thickness: 1px, $color: $border) {
    border-#{$placement}: $thickness solid $color;
}
