// Color variables
$background: #C5C8D7;
$background-dark: #1e243e;
$font-dark: #030303;
$font-light: #C5C8D7;
$popup-background: #9194B5;
$border: #1e243e;
$link: #0188e1;
$link-hover: #e6143b;

// Highlight colors
$danger: #c20c2a;
$primary: #0712c2;
$success: #0eac2e;

// Font variables
$body-font: "Fira Sans", sans-serif;

// media queries
$tablet-width: 601px;
$desktop-small: 1025px;
$desktop-large: 1600px;

$headings: "h1, h2, h3, h4, h5, h6";
