// Color variables
$background: #EAEFF8;
$font-dark: #030303;
$font-light: #E9E9EA;
$popup-background: #BFD0E6;
$border: #798F8C;
$link: #798F8C;
$link-hover: #E9CBD1;

// Highlight colors
$danger: #c20c2a;
$primary: #0712c2;
$success: #0eac2e;

// Font variables
$header-font: "Alfa Slab One", cursive;
$body-font: "Libre Franklin", sans-serif;

// media queries
$tablet-width: 601px;
$desktop-small: 1025px;
$desktop-large: 1600px;

$headings: "h1, h2, h3, h4, h5, h6";
