/* Admin header */
.admin-header {
    background: $background-dark;
    color: $font-light;
    display: grid;
    grid-template-areas: "branding branding menu";

    h1 {
        margin: 0;
        line-height: 1;
    }

    p {
        margin: 0.2em 0;
        line-height: 1;
        font-size: 0.8rem;
    }

    .branding {
        grid-area: branding;
        padding: 0.4em;
        margin-bottom: 1em;
    }

    .admin-nav {
        grid-area: menu;
    }

    .image {
        display: none;
    }

    @include medium {
        .admin-header {
            background: red;

        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
        }
    }


    @include large {
        .branding {
            width: 48%;
        }

        .image {
            display: block;
            width: 50%;

            //background-image: url(../images/admin_header_bg.jpg);
            background-position: center center;
            background-size: cover;
            min-height: 100%;
        }
    }
}
