.admin-index {
    width: 100%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;

    .show-artists {
        @include shaddow;

        .show-artists-header {
            background-color: $background-dark;
            margin: 0 0 1em 0;
            padding: 0.4em;

            h3 {
                margin: 0;
                font-size: 1.4rem;
                color: $font-light;
            }
        }

        .show-artists-grid {
            padding: 0 1em 1em 1em;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
            gap: 1em;

            .show-artist-card {
                background-color: $popup-background;
                padding: .4em;
            }
        }
    }

    .show-records {
        margin-top: 1em;

        @include shaddow;

        .show-records-header {
            background-color: $background-dark;
            margin: 0 0 1em 0;
            padding: 0.4em;

            h3 {
                margin: 0;
                font-size: 1.4rem;
                color: $font-light;
            }
        }

        .show-records-grid {
            padding: 0 1em 1em 1em;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            gap: 1rem;

            .show-record-card {
                background-color: $background-dark;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: $font-light;
                }
            }
        }
    }

    .show-index-info {
        margin-top: 1em;

        @include shaddow;

        .show-index-info-header {
            background-color: $background-dark;
            padding: .4em;
            margin: 0;

            h3 {
                color: $font-light;
                margin: 0;
                font-size: 1.4rem;
            }
        }

        .show-index-info-content {
            padding: .4em;
            margin-top: 1em;

            p {
                margin: 0;
            }
        }
    }

    .nothing-to-show {
        text-align: center;
        padding: .4em;

        p {
            margin: 0;
        }
    }
}
