.admin-nav {
    ul {
        display: flex;
        flex-direction: column;

        li {
            @include border(1px, $background-dark);

            display: flex;
            justify-content: center;
            align-items: center;
            padding: .4em;
        }

        li:not(last-child) {
            margin-bottom: .4em;
        }
    }

    a {
        color: $font-dark;
        text-decoration: none;
    }

    a:hover,
    a:active {
        color: $link-hover;
        background: $background-dark;
    }
}
