.image-artist {
    display: grid;
    grid-template-columns: 1fr;

    .img-background {
        position: relative;
        z-index: 0;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        filter: blur(7px) opacity(0.8);
    }

    .img-profile-box {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        min-height: 100%;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-profile {
            position: relative;
            z-index: 999;
            max-width: 80%;
            height: auto;
            filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.4));
        }
    }
}

.show-albums {
    @extend .display-box;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    a {
        text-decoration: none;
    }

    .artist-show-albums-text {
        background: $background-dark;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 150px;
        height: 150px;
        color: $font-light;
    }
}
