/* Buttons */

button {
    background-color: $background;
    color: $font-dark;
    padding: .5em;
    cursor: pointer;

    @include border(2px, $background-dark);
    @include shaddow;
    @include smooth;

    &.btn-link {
        &:hover,
        &:active {
            background: $background-dark;
            color: $link;
        }
    }

    &.btn-danger {
        background-color: $danger;
        color: $font-light;

        &:hover,
        &:active {
            background-color: darken($danger, 10%);
        }
    }

    &.btn-success {
        background-color: $success;
        color: $font-light;

        &:hover,
        &:active {
            background-color: darken($success, 10%);
        }
    }
}

.button {
    @extend button;
}

/* Button boxes */
.button-bar-more {
    display: flex;
    justify-content: space-around;
    padding-bottom: .5em;
}

.button-bar-single {
    padding-bottom: .5em;
}
