/* Show singel element incl. input fields styles */

.display-box {
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background: $popup-background;

    @include center-div;
    @include shaddow;

    .display-header {
        background: $background-dark;
        padding: .4em;
        margin-bottom: 1em;

        h2 {
            color: $font-light;
            margin: 0;
        }
    }

    .display-header-image {
        @extend .display-header;

        margin-bottom: 0;
    }

    image {
        margin-bottom: 1em;
    }

    .display-content {
        padding: .6em;

        h3 {
            font-weight: 400;
        }
    }
}
