.input-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;

    label {
        flex-basis: 30%;
        flex-shrink: 0;
    }

    input,
    textarea {
        flex-grow: 1;
        background: $background;
        border: none;
        padding: .5em;
        font-size: 1rem;
        font-family: $body-font;

        &:active,
        &:focus {
            outline: thin solid $background-dark;
        }
    }

    textarea {
        resize: none;
        min-height: 8rem;
    }
}

.select-box {
    justify-content: flex-start;
    margin-bottom: 1em;

    select {
        border: none;
        background: $background;
        padding: .5em;
        font-size: 1rem;
        font-family: $body-font;
        margin-left: 1em;
    }
}

.radio-box {
    width: 100%;
    margin-bottom: 1em;

    label,
    input {
        margin-right: 0.7em;
    }
}

.delete-post {
    text-align: center;
    background-color: $danger;
    color: $font-light;
    padding: 0.4em;
    margin: 1rem 0;

    h3 {
        margin: 0;
    }
}

.dark {
    font-size: .8rem;
    font-weight: 900;
}
