/* Index pages with card and table layout */

.index-page-grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;

    h3 {
        margin: 0;
    }

    .card {
        background-color: $popup_background;
        display: grid;
        padding-bottom: .8em;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;

        @include shaddow;

        .card-header {
            background-color: $background-dark;
            padding: .8em;
            display: flex;
            justify-content: space-between;

            h3 {
                color: $font-light;
            }
        }

        .card-header-image {
            width: 100%;
            height: auto;
            margin: 0 0 1em 0;
        }

        .card-description {
            margin-top: .8em;
            padding: .8em;

            h3 {
                font-weight: 400;
            }
        }
    }

    .card-artist {
        @extend .card;

        grid-template-rows: 1fr 2fr;

        .card-top {
            grid-row: 1 / 2;
        }

        a {
            text-decoration: none;
            color: $font_light;
        }

        .card-image-artist {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .card-image-artist-box {
                grid-column: 1 / -1;
                grid-row: 1 / -1;
            }

            .card-image-overlay {
                grid-column: 1 / -1;
                grid-row: 1 / -1;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                    width: 90%;
                    text-align: center;
                    font-family: "Baloo Bhaina", cursive;
                    font-size: 2.5rem;
                    margin: 0 auto;
                }
            }
        }

        .card-description {
            // background: pink;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr 1fr 1fr;

            a {
                color: $link;
            }

            a:hover,
            a:active,
            a:focus {
                color: $link_hover;
            }
        }

        .card-description-header {
            grid-row: 1 / 2;

            // background-color: steelblue;
       
        }

        .card-description-profile {
            grid-row: 2 / 4;

            // background-color: crimson;
       
        }

        .card-description-links {
            // background-color: seagreen;
            display: flex;
            justify-content: space-between;
            grid-row: 4 / 5;
        }

        .button-bar-single,
        .button-bar-more {
            // background-color: orange;
            grid-row: 5 / -1;
        }
    }
}

.index-page-tabel {
    width: 100%;
    margin: 2em 0;

    table {
        width: 100%;

        @include border;

        th {
            background: $background-dark;
            color: $font-light;
            text-align: left;
            padding: .4em;

            @include border;
        }

        tr:nth-child(odd) {
            background-color: lighten($popup_background, 10%);
        }

        td {
            padding: .4em;

            @include border;

            &.num {
                text-align: right;
            }
        }

        .btn {
            text-align: center;
        }
    }
}
