/* Show Single Element */
.show-single {
    width: 50%;
    background-color: $popup-background;
    margin-top: 1em;

    @include shaddow;
    @include center-div;

    .show-single-text {
        padding: 0.6em;
    }

    h3 {
        font-weight: 400;
    }

    .description {
        h3 {
            text-decoration: underline;
        }
    }
}
